/*=============================================>>>>>
= Body font colour =
===============================================>>>>>*/
$textcolor: #333333;

/*=============================================>>>>>
= Brand colours =
===============================================>>>>>*/
// $black: #000000; // already done below in Black/White
// $white: #FFFFFF; // already done below in Black/White
$atelier-blue: #0069f1;
$atelier-purple: #7116db;
$green: #7cc369;
$orange: #fbb04b;
$red: #ec5a24;
$yellow: #fedd00;

/*=============================================>>>>>
= Additional =
===============================================>>>>>*/
$border: #d8e5ee;

/*=============================================>>>>>
= Black/white =
===============================================>>>>>*/
$white: #ffffff;
$black: #000000;
$off-white: #f5f5f5;
$off-black: #333333;

/*=============================================>>>>>
= User noticiation colours =
===============================================>>>>>*/
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;

/*=============================================>>>>>
= Social colours =
===============================================>>>>>*/
$twitter-hex: #00aced;
$facebook-hex: #3b5998;
$linkedin-hex: #007bb6;
$youtube-hex: #bb0000;
$tumblr-hex: #32506d;
$instagram-hex: #517fa4;
$vimeo-hex: #aad450;
$lastfm-hex: #d51007;
$google-hex: #4285f4;
$github-hex: #4078c0;
